---
const { url } = Astro.props;
---

<a href={url} class="">
    <div class="scroll"></div>
</a>

<style>
    .scroll {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border: 2px solid var(--color-primary-light);
        border-radius: 50%;
        animation: down 5s infinite;
        -webkit-animation: down 5s infinite;
        background-color: var(--color-secondary-light);
    }

    .scroll::before {
        content: "";
        width: 18px;
        height: 18px;
        margin-block-end: 10%;
        border-left: 2px solid var(--color-primary-light);
        border-bottom: 2px solid var(--color-primary-light);
        transform: rotate(-45deg);
    }

    .scroll:hover {
        scale: 1.25;
        transition: 1s;
    }

    @keyframes down {
        0% {
            transform: translate(0);
        }
        20% {
            transform: translateY(15px);
        }
        40% {
            transform: translate(0);
        }
    }
</style>
